.vh-95{
  height: 95vh !important;
}
.chat-height{
  height: calc(100% - 20vh) !important;
}
.chat-message-right{
margin-left:auto;
flex-direction: row-reverse;
}
.chat-message-left{
  margin-right:auto;
}
.chat-message-left,.chat-message-right{
  display: flex;
  flex-shrink: 0;
}
.chat-window{
  z-index: 100;
  height: 100%;
  overflow: hidden;
}

.chat-input{
  position: sticky;
  bottom: 0;
}
.styles-scrollable-div_prSCv{
  max-height: calc(100%-2px) !important;
height: calc(100%-2px) !important;
overflow-y: auto;
}